[submodule "common-port-windows"]
	path = common-port-windows
	url = ../common-port-windows
[submodule "common"]
	path = common
	url = ../common-port
[submodule "base"]
	path = base
	url = ../base-port-windows
[submodule "graphics3d"]
	path = graphics3d
	url = ../graphics3d-port
[submodule "graphics"]
	path = graphics
	url = ../graphics-port
