[submodule "common-port-windows"]
	path = common-port-windows
	url = ../common-port-windows
[submodule "common"]
	path = common
	url = ../common-port
[submodule "base"]
	path = base
	url = ../base-port-windows
[submodule "imaging"]
	path = imaging
	url = ../imaging-port
[submodule "graphics"]
	path = graphics
	url = ../graphics-port
[submodule "user-generation1"]
	path = user-generation1
	url = git@github.com:cpp-port/user-generation1
[submodule "graphics3d"]
	path = graphics3d
	url = ../graphics3d-vulkan-land-port
	branch = main
